<div class="col-12">
  <h2 i18n>Current status</h2>
  <div class="alert alert-danger" role="alert" *ngIf="status.error" i18n>
    Error: {{status.error}}
  </div>
  <div class="row" *ngFor="let led of status.leds">
    <div class="col-6">{{led.name}}</div>
    <div class="col-3">
      <a style="cursor: pointer" class="active" (click)="toggleLed(led.index)">
        <img *ngIf="!led.value" src="assets/Button_Off.png"/>
        <img *ngIf="led.value" src="assets/Button_On.png"/>
      </a>
    </div>
  </div>
</div>