<h2 i18n>Active orders</h2>
<div class="row">
  <div class="col-3">
    <select class="form-control" [(ngModel)]="addOrderLed" name="led" placeholder="Led">
      <option [ngValue]="null" disabled>Led</option>
      <option *ngFor="let led of leds" [ngValue]="led.index">{{led.name}}</option>
    </select>
  </div>
  <div class="col-3">
    <select class="form-control" [(ngModel)]="addOrderTimeout" name="timeout">
      <option value="null" disabled i18n>Timeout</option>
      <option [ngValue]="30" i18n>30 seconds</option>
      <option [ngValue]="60" i18n>1 minute</option>
      <option [ngValue]="120" i18n>2 minutes</option>
      <option [ngValue]="300" i18n>5 minutes</option>
      <option [ngValue]="600" i18n>10 minutes</option>
      <option [ngValue]="1200" i18n>20 minutes</option>
      <option [ngValue]="1800" i18n>30 minutes</option>
      <option [ngValue]="3600" i18n>1 hour</option>
      <option [ngValue]="7200" i18n>2 hours</option>
    </select>
  </div>
  <div class="col-3">
    <select class="form-control" [(ngModel)]="addOrderCommand" name="command">
      <option value="null" disabled i18n>Command</option>
      <option [ngValue]="true" i18n>SWITCH ON</option>
      <option [ngValue]="false" i18n>SWITCH OFF</option>
    </select>
  </div>
  <div class="col-3">
    <button class="btn active" [ngClass]="{'btn-primary': canAddOrder()}" (click)="addOrder()" i18n>Add order</button>
  </div>
</div>
<br/>
<div *ngFor="let order of orders" class="row">
  <div class="col-3">
    {{stringifyLedName(order.led)}}
  </div>
  <div class="col-3">
    {{stringifyDeadline(order.deadline)}}
  </div>
  <div class="col-3">
    {{stringifyCommand(order.command)}}
  </div>
  <div class="col-3">
    <button class="btn active btn-warning" (click)="cancelOrder(order.id)" i18n>Cancel</button>
  </div>
</div>
<p i18n>Total: {{orders.length}} order(s)</p>
<button *ngIf="orders.length>1" class="btn active btn-danger" (click)="cancelAllOrders()" i18n>Cancel all orders</button>