<div class="col-12">
  <h2 i18n>Basic relay handling</h2>
  <div class="alert alert-danger" role="alert" *ngIf="status.error">
    Error: {{status.error}}
  </div>
  <div class="row" *ngFor="let led of status.leds">
    <div class="col-3">{{led.name}}</div>
    <div class="col-2">
      <a style="cursor: pointer" class="active" (click)="toggleLed(led.index)">
        <img [src]="led.value?'assets/Button_On.png':'assets/Button_Off.png'"/>
      </a>
    </div>
    <div class="col-2">
      <button class="btn active btn-success" 
        (click)="removeOrders(led.index)" 
        *ngIf="led.value &amp;&amp; whenOff(led.index) &gt;= 0" 
        i18n>Goes off {{whenOff(led.index) | timeInterval:'in':'NOW'}}</button>
      <button class="btn active btn-primary" 
        (click)="setOffOrder(led.index, 1200)" 
        *ngIf="led.value &amp;&amp; whenOff(led.index) &lt; 0"
        i18n>Turn off in 20 minutes</button>
      <button class="btn active" 
        (click)="turnOnFor(led.index, 1200)" 
        *ngIf="!led.value"
        i18n>Turn on for 20 minutes</button>
    </div>

  </div>
</div>